# Quation 1

In [1]:
import numpy as np

In [2]:
# amount of time students spend studying for an exam
time_spend=[7,5,6,8,4,2,6,4]
# final exam score
score=[85,60,69,90,55,40,69,55]
relation=np.corrcoef(time_spend,score)
print(relation)

[[1.         0.98546791]
 [0.98546791 1.        ]]

# Quation 2

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame({"sleep_time":[8,7,9,5,4,6],"satisfaction_level":[9,8.5,9,7,6,7.5]})

In [5]:
df.corr(method='spearman')

                    sleep_time  satisfaction_level
sleep_time            1.000000            0.985611
satisfaction_level    0.985611            1.000000

# Quation 3

In [6]:
exercies_time=np.random.randint(0,8,50)
BMI=np.random.randint(1,10,50)

In [29]:
df=pd.DataFrame({"exercies_time":exercies_time,"BMI":BMI})

In [32]:
df.corr(method='pearson')

               exercies_time      BMI
exercies_time        1.00000 -0.00789
BMI                 -0.00789  1.00000

In [33]:
df.corr(method='spearman')

               exercies_time       BMI
exercies_time       1.000000 -0.022923
BMI                -0.022923  1.000000

# Quation 4

In [34]:
time=np.random.randint(1,24,50)
physical_level=np.random.randint(1,10,50)
df=pd.DataFrame({"time":time,"physical_level":physical_level})
df.corr(method='pearson')

                    time  physical_level
time            1.000000        0.061163
physical_level  0.061163        1.000000

# Quation 5

In [ ]:
Age=[25,42,37,19,31,28]
Soft_drink_Preference=['coke','pepsi','mountain_duo','coke','pepsi','coke']
# what is doing